@model IEnumerable<FormRequirement>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<div class=" container p-3">
    <div class=" row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Form   </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="FormRequirement" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Fill New Form
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style=" width:100%">
        <thead>
            <tr>
                <th>
                    Job Title
                </th>
               @* <th>
                    NOP
                </th>*@
               @* <th>
                    Description
                </th>*@
                <th>
                    Edu. Requirement
                </th>
               @* <th>
                    Experience
                </th>*@
                <th>
                    Specialization
                </th>
                @*<th>
                    Application Date
                </th>*@
                <th>
                    Salary Amount
                </th>
                <th>
                    Job Type
                </th>
                <th>
                    Company Name
                </th>
              @*  <th>
                    Website
                </th>*@
                <th>
                    Email
                </th>
                <th>
                    Company Address
                </th>
                <th>
                    Country
                </th>
                <th>
                    State
                </th>
                <th></th>
            </tr>
        </thead>


    
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.JobTitle
                </td>
                @*<td>
                    @obj.NumberOfPosition
                </td>*@
                @*<td >
                    @obj.JobDescription
                </td>*@
                <td>
                    @obj.EducationRequirement
                </td>
                @*<td >
                    @obj.Experience
                </td>*@
                <td >
                    @obj.Specialization
                </td>
                @*<td width="6%">
                    @obj.ApplicationDate
                </td>*@
                <td>
                    @obj.SalaryAmount
                </td>
                <td >
                    @obj.JobType
                </td>
                <td>
                    @obj.CompanyName
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    @obj.CompanyAddress
                </td>
                <td>
                    @obj.Country
                </td>
                <td>
                    @obj.State
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="FormRequirement" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-1"><i class="bi bi-pencil-square"></i>Edit</a>

                        <a asp-controller="FormRequirement" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-1"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table>
</div>